<div class="header">
    <div class="header_logo">
        <div class="header_sub_logo">
            <h1>Logo</h1>
            <div class="header_logo_text">
                <p class="logo_initial_1">Anthem</p> <p class="logo_initial_2"> Smart Hub</p>
            </div>
        </div>
    </div>
    <div class="header_text">
        <i class="fas fa-user" style="color: white"></i>
        <p class="logo_initial_2">Kohler Hub User</p>
        <input type="checkbox" id="nav-check">
        <i class="fas fa-bars"></i>
        <div class="nav-btn">
            <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
            </label>
        </div>
    </div>
</div>

<div class="navbar">    
    <!-- responsive navbar toggle button -->
    
    <!-- Navbar items -->
    <div class="nav-links">
      <a href="#">My Devices</a>
      <a href="#">Presets</a>
      <a href="#">Experience</a>
 
      <!-- Dropdown menu -->
      <div class="dropdown">
        <a class="dropBtn" href="#">Settings 
          <i class="fas fa-angle-down"></i>
        </a>
        <div class="drop-content">
          <a href="#">Global Settings</a>
          <a href="#">DTV+User Int.</a>
          <a href="#">Anthem User Int</a>
          <a href="#">Values</a>
          <a href="#">Anthem User Int</a>
          <a href="#">Remote Button</a>
 
          <!-- Creating sub menu Dropdown -->
        </div>
      </div>
 
      <a href="#">Updates</a>
      <div class="dropdown">
        <a class="dropBtn" href="#">Network & Utilities 
          <i class="fas fa-angle-down"></i>
        </a>
        <div class="drop-content">
          <a href="#">Global Settings</a>
          <a href="#">DTV+User Int.</a>
          <a href="#">Anthem User Int</a>
          <a href="#">Values</a>
          <a href="#">Anthem User Int</a>
          <a href="#">Remote Button</a>
 
          <!-- Creating sub menu Dropdown -->
        </div>
      </div>
    </div>
  </div>
