<div class="header">
    <div class="header_logo">
        <div class="header_sub_logo">
            <img [src]="imgSrc" alt="Kohler" class="logo_"/>
            <p class="logo_initial_1">Anthem </p> <p class="logo_initial_2_head">Smart Hub</p>
            
        </div>
    </div>
    <div class="header_text">
        <div class="logo_initial_2_div">
            <i class="fas fa-user fa-2x" style="color: white"></i>
            <p class="logo_initial_2">Kohler Hub User</p>
        </div>
        
        <div class="nar_bar_btns" (click)="temp_fun()">
          <div class="nav-btn">
            <i class="fas fa-bars fa-2x"></i>
          </div>
          <div class="nav-btn-cross">
            <i class="fas fa-cross fa-2x"></i>
          </div>
        </div>
    </div>
</div>

<div class="navbar">    
  <div class="nav-links">
    <a href="#">My Devices</a>
    <a href="#">Presets</a>
    <a href="#">Experience</a>
    <div class="dropdown" (click)="show_settings()" >
      <a class="dropBtn" href="#" [ngStyle]="{'backgroundColor': show_stg ? '#002121' : '#000000'}">Settings 
        <div class="down_icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div class="drop-content" *ngIf="show_stg"> 
        <a href="#">Global Settings</a>
        <a href="#">DTV+User Int.</a>
        <a href="#">Anthem User Int</a>
        <a href="#">Values</a>
        <a href="#">Anthem User Int</a>
        <a href="#">Remote Button</a>
      </div>
    </div>
    <a href="#">Updates</a>
    <div class="dropdown" (click)="show_networkSetting()" >
      <a class="dropBtn" href="#" [ngStyle]="{'backgroundColor': show_ntw ? '#002121' : '#000000'}">Network & Utilities 
        <div class="down_icon">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div class="drop-content" *ngIf="show_ntw">
        <a href="#">Global Settings</a>
        <a href="#">DTV+User Int.</a>
        <a href="#">Anthem User Int</a>
        <a href="#">Values</a>
        <a href="#">Anthem User Int</a>
        <a href="#">Remote Button</a>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="li_ele_display">
  <ul class="li_elements" >
      <li class="dropdown__item"><a href="#" class="nav__link">Global Settings</a></li>
      <li class="dropdown__item"><a href="#" class="nav__link">DTV+User Int.</a></li>
      <li class="dropdown__item"><a href="#" class="nav__link">Anthem User Int</a></li>
      <li class="dropdown__item"><a href="#" class="nav__link">Values</a></li>
      <li class="dropdown__item"><a href="#" class="nav__link">Anthem User Int</a></li>
      <li class="dropdown__item"><a href="#" class="nav__link">Remote Button</a></li>
  </ul>
</div> -->



