.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 126px;
    background-color: black;
}
.header_logo{
    margin-left: 16px;
    margin-top: 46;
}
.header_text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_text i{
    padding-right: 10px;
}
.header_sub_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_logo_text{
    display: flex;
    flex-direction: row;
    color: #ffffff;
}

ul{
    list-style: none;
    padding: 0;
    cursor: default;
}

li{
    display: inline-block;
}    
nav{
    background-color: #000000;
    height: 74px;
    border-bottom: 1px solid #00A3A3;;
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-left: 22px;
    z-index: 1000;
    background-color: black;
}
nav ul li a{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

nav li{
    color: #ffffff;
}

nav ul li a{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: inherit;
}

nav ul li a:hover{
    color: #00A3A3;
}

#toggle{
    display: none;
}
#toggle-btn{
    display: none;
    text-align: right;
}
#toggle_btn_cross{
    display: none;
    text-align: right;
}
#toggle-btn i{
    font-size: 25px;
    padding: 7px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#toggle_btn_cross i{
    font-size: 25px;
    padding: 7px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown_class{
    display: block;
}   
.dropdown_class ul{
    display: block;
}
.dropdown__icon{
    display: none;
    font-size: 25px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown__menu{
    display: none;
}
.dropdown__menu{
    display: none;
}
.li_ele_display{
    width: 100%;
    height: 210px;
    background-color: #383B76;
}
.li_elements{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    display: grid;
    grid-template-rows: 123px 82px;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 12px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.li_elements li a {
    text-decoration: none;
    color: #ffffff;
    font-style: Roboto, "Helvetica Neue", sans-serif;
}


@media (min-width: 429px) and (max-width: 1024px) {
    .dropdown__menu{
        padding-right: 10px;
    }
    .dropdown_class{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .li_elements{
        column-gap: 0;
        row-gap: 0;
    }
    .dropdown__item{
        /* background-color: aqua; */
        height: 72px;
        width: 327px;
        left: 0px;
        top: 144px;
        border-radius: 0px;
        padding: 0px, 34px, 0px, 32px;
    }
    .li_ele_display{
        display: none;
    }
    .dropdown__icon{
        display: flex;
    }
    .dropdown_div{
        display: flex;
        flex-direction: row;
        height: 72px;
        left: 22px;
    }
    .dropdown__icon {
        display: flex;
        flex-direction: column;
        /* flex-direction: column; */
        background-color: #08181B !important;
    }
    .align_icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav__link{
        font-family: Roboto;
        font-size: 26px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }
    .dropdown__icon  > li > a {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 42px;
    }
    #toggle-btn{
        display: flex;
    }
    #toggle_btn_cross{
        display: flex;
    }
    nav > ul{
        display: none;
        gap: 0;
        margin-right: 30px;
        margin: auto;
    }
    #toggle:checked + ul{
        display: flex;
        flex-direction: column;
    }
    nav ul li{
        /* background-color: #00A3A3; */
        height: 72px;
        display: flex;
        text-align: left;
        gap: 0;
        left: 0px;
        top: 216px;
        border-radius: 0px;
        padding: 0px, 50px, 0px, 11px;
        margin-right: 22px;
    }
    nav ul li a {
        margin-top: 12px;
        font-family: Roboto;
        font-size: 26px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
    }
    nav ul li a:hover{
        color: #00A3A3;
    }
}

@media (min-width: 0px) and (max-width: 428px) {
    .dropdown_class{
        display: flex;
        flex-direction: column;
    }
    .li_elements{
        column-gap: 0;
        row-gap: 0;
    }
    .dropdown__item{
        /* background-color: aqua; */
        height: 72px;
        width: 327px;
        left: 0px;
        top: 144px;
        border-radius: 0px;
        padding: 0px, 34px, 0px, 32px;
    }
    .nav__link{
        font-family: Roboto;
        font-size: 26px;
        font-weight: 400;
        line-height: 72px;
        letter-spacing: 0em;
        text-align: left;
    }
    .li_ele_display{
        display: none;
    }
    .dropdown__icon{
        display: flex;
        flex-direction: row;
    }
    .dropdown_div{
        display: block;
    }
    .dropdown__menu{
        display: flex;
        flex-direction: column;
    }
    .dropdown__menu > li {
        color:white;
        text-align: left;
        padding-left: 10px;
    }
    .dropdown__menu > li > a {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 42px;
    }
    .header_text p{
        display: none;
    }
    .header_logo_text{
        display: none;
    }
    #toggle-btn{
        display: block;
    }
    #toggle_btn_cross{
        display: block;
    }
    nav > ul{
        display: none;
        gap: 0;
    }
    #toggle:checked + ul{
        display: block;
    }
    nav ul li{
        height: 72px;
        display: flex;
        text-align: left;
        gap: 0;
    }
    nav ul li {
        font-family: Roboto;
        font-size: 26px;
        font-weight: 400;
        line-height: 42px;
        letter-spacing: 0em;
        text-align: left;
    }
}

