<footer class="footer">
    <div class="container_">
        <div class="row">
         <div class="footer-col">
             <p>Kohler Technical support</p>
             <ul>
              <li><a href="#">1800 - 903 - xxx - xxx</a></li>
              <li><a href="#">Support@kohler.com</a></li>
             </ul>
         </div>
         <div class="footer-col">
             <p>Help</p>
             <ul>
              <li><a href="#">1800 - 903 - xxx - xxx</a></li>
              <li><a href="#">Kholer Product Guide</a></li>
             </ul>
         </div>
        </div>
    </div>
</footer>